<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
        <!-- Live Templates in HTML-like files
    
            1. Complete the "date" template in 1.2-LiveTemplatesHtml.html
            2. Edit the "date" template and change the availability to:
                HTML-Like → Where a tag could be in HTML or similar languages
            3. Save the template
            4. Type "date" below, and hit tab to expand to the current date and time
            -->



    </body>
</html>